* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem 2rem;
    text-align: left;
}

thead {
    background-color: bisque;
}

tbody tr:hover {
    background-color: green;
    color: white;
}

.image-container {
    margin-top: 1rem;
    border: 1px solid black;
}